CompileFlags:
  # Use the compilation database from the root
  CompilationDatabase: .

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  Suppress:
    # CVI SDK fails to build with this warning
    - -Wreserved-user-defined-literal
